@using Contracts.ViewContract
@using DataModel.enums
@model TypeOrders
@{
    ViewData["Title"] = "OrderTeacherCreateFirring";
}
<div class="text-center">
    <h2 class="display-4">Форма создания приказа на увольнение</h2>
</div>
<div class="text-center">
    <form method="post">
        <div class="row">
            <div class="row">
                <div class="col-4">Выберите кафедру:</div>
                <div class="col-8">
                    <select id="department" name="department" class="form-control" onchange="loadTeachers(this.value, 'teacher')">
                        <option value="">Кафедра не выбрана</option>
                        @foreach (var department in ViewBag.departments)
                        {
                            <option value="@department.Id">@department.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-4">Выберите преподавателя:</div>
                <div class="col-8">
                    <select id="teacher" name="teacher" class="form-control">
                        <option value="">Сначала выберите кафедру</option>
                    </select>
                </div>
            </div>
        </div>

        <input type="submit" name="action" value="Сохранить" class="btn btn-primary" />
    </form>

    
    @* @if (ViewBag.teacher != null && ViewBag.order != null) *@
    @if(true)
    {
        <div class="card mt-4">
            <div class="card-header">
                <h4>Увсо хорошо,считай,что он уже уволен</h4>
            </div>
            
        </div>
        <h5>
            <img src="~/img/Firring.jpg" width="840" height="440"/>
        </h5>
    }
</div>

<script>
    // Универсальная функция для загрузки преподавателей
    function loadTeachers(departmentId, teacherSelectId) {
        var teacherSelect = document.getElementById(teacherSelectId);
        teacherSelect.innerHTML = '<option value="">Загрузка...</option>';

        // Получаем всех преподавателей из ViewBag
        var allTeachers = @Html.Raw(Json.Serialize(ViewBag.teachers));

        // Фильтруем преподавателей по выбранной кафедре
        var filteredTeachers = allTeachers.filter(function(teacher) {
            return teacher.departmentId == departmentId;
        });

        // Очищаем и заполняем select
        teacherSelect.innerHTML = '<option value="">Выберите преподавателя</option>';

        if (filteredTeachers.length > 0) {
            filteredTeachers.forEach(function(teacher) {
                var option = document.createElement("option");
                option.value = teacher.id;
                option.text = teacher.fio;
                teacherSelect.appendChild(option);
            });
        } else {
            teacherSelect.innerHTML = '<option value="">Нет преподавателей на этой кафедре</option>';
        }
    }
</script>